[Unit]
Description=Fancy Fan Control
ConditionPathExists=!/etc/dontstartfancy

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/fancy.py
Restart=always

[Install]
WantedBy=default.target
