[Unit]
Description=Heins rpm-LED Control
ConditionPathExists=!/etc/dontstartrpm

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/rpm.py
Restart=always

[Install]
WantedBy=default.target
